.form-box {
  width: 480px; 
  margin: 90px auto 0 auto;
}

.box .box-header a {
    color: #fff; 
}

.col-md-8 > .logo {
  font-size: 100px;
  line-height: 175px;
  text-align: center;
  padding: 0 10px;
  font-family: 'Kaushan Script', cursive;
  font-weight: 1000;
  height: 200px;
  display: block;
}

body > .header .full-navbar {
    margin-left: 0;
}

.wrapper.bg-white, .content.bg-white {
    background: #ffffff;
}